.body1 {
  background-image: url("./assets/images/Mainbackground.jpg");
  background-size: cover;
  background-repeat: no-repeat;
  background-position: top center;
  height: calc(100vh);
  min-height: 700px;
  position: relative;
}
.body1:before {
  content: "";
  position: absolute;
  top: 0%;
  left: 0%;
  right: 0%;
  bottom: 0%;
  background: black;
  opacity: 0.3;
}
